---
import Layout from 'components/layouts/Layout.astro';
import { FusionPanel } from 'components/pages/fusion/FusionPanel';

import languageJson from '../../assets/json/language.json';

import { readDataFromAssets } from 'helpers/fileHelper';
import { IntermediateFile } from 'constants/intermediateFile';
import { astroPaths } from 'constants/astro';
import { availableLanguages, UIKeys } from 'constants/localisation';
import type { ILocalisation } from 'contracts/localisation';
import type { IFusionEnhanced } from 'contracts/fusion';
import type { IMonsterFormEnhanced, IMonsterFormDropdown } from 'contracts/monsterForm';
import { translator } from 'helpers/translateHelper';

export async function getStaticPaths() {
  const paths: any = [];
  for (const locale of availableLanguages) {
    const itemMap = await readDataFromAssets<Record<string, IFusionEnhanced>>({
      pathFolders: [...astroPaths.intermediatePath, locale],
      destFileName: IntermediateFile.fusion,
    });
    const monsterMap = await readDataFromAssets<Record<string, IMonsterFormEnhanced>>({
      pathFolders: [...astroPaths.intermediatePath, locale],
      destFileName: IntermediateFile.monsterForms,
    });
    const monsterDropdown = Object.values(monsterMap).map((monster) => ({
      id: monster.id,
      name: monster.name_localised,
      icon: monster.icon_url,
      prefix: monster.fusion_name_prefix_localised,
      suffix: monster.fusion_name_suffix_localised,
    }));
    const path = {
      params: { locale: locale },
      props: { itemMap, monsterDropdown },
    };
    paths.push(path as never);
  }
  return paths;
}

const { locale } = Astro.params;
const itemMap = (Astro.props as any).itemMap as Record<string, IFusionEnhanced>;
const monsterDropdown = (Astro.props as any).monsterDropdown as Array<IMonsterFormDropdown>;
const translationLookup = (languageJson as Record<string, ILocalisation>)[locale].messages;
const { translate } = translator(translationLookup);
const title = translate(UIKeys.fusion);
---

<Layout locale={locale} documentTitle={title} translationLookup={translationLookup}>
  <section class="mb-1">
    <h1 class="Neu5Land ta-center">{title}</h1>

    <article class="mb-1">
      <FusionPanel
        translate={translationLookup}
        itemMap={itemMap}
        monsterDropdown={monsterDropdown}
      />
    </article>
  </section>
</Layout>
