---
import Breadcrumb from 'components/Breadcrumb.astro';
import Layout from 'components/layouts/Layout.astro';

import languageJson from '../../../assets/json/language.json';

import { astroPaths } from 'constants/astro';
import { breadcrumb } from 'constants/breadcrumb';
import { AppImage } from 'constants/image';
import { IntermediateFile } from 'constants/intermediateFile';
import { availableLanguages, UIKeys } from 'constants/localisation';
import { routes } from 'constants/route';
import { site } from 'constants/site';
import type { ILocalisation } from 'contracts/localisation';
import { AccessMode, type IGuideSchema } from 'contracts/schema/guideScheme';
import type { IStatusEffectEnhanced } from 'contracts/statusEffect';
import { isoDate } from 'helpers/dateHelper';
import { readDataFromAssets } from 'helpers/fileHelper';
import { toSchemaOrgProperty } from 'helpers/schemaHelper';
import { sortByStringProperty } from 'helpers/sortHelper';
import { limitLengthWithEllipse } from 'helpers/stringHelper';
import { translator } from 'helpers/translateHelper';
import { imgUrl } from 'helpers/urlHelper';

export async function getStaticPaths() {
  const paths: any = [];
  for (const locale of availableLanguages) {
    const itemMap = await readDataFromAssets<Array<IStatusEffectEnhanced>>({
      pathFolders: [...astroPaths.intermediatePath, locale],
      destFileName: IntermediateFile.statusEffects,
    });
    const path = {
      params: { locale: locale },
      props: { list: Object.values(itemMap) },
    };
    paths.push(path as never);
  }
  return paths;
}

const { locale } = Astro.params;
const unorderedList = (Astro.props as any).list as Array<IStatusEffectEnhanced>;
const list = unorderedList.sort(sortByStringProperty((l) => l.name_localised));
const translationLookup = (languageJson as Record<string, ILocalisation>)[locale].messages;
const { translate } = translator(translationLookup);

const descriptionMessages = list
  .slice(0, 5)
  .map((g) => g.description_localised)
  .filter((m) => m != null)
  .join('. ');
const description = limitLengthWithEllipse(descriptionMessages, 120);
const schemaOverride: IGuideSchema = {
  name: translate(UIKeys.statusEffect),
  headline: translate(UIKeys.statusEffect),
  about: description,
  abstract: description,
  description: description,
  accessMode: AccessMode.textual,
  dateModified: isoDate(),
  thumbnailUrl: site.rootUrl + AppImage.meta.slice(1),
  // thumbnailUrl: site.rootUrl + data.meta_image_url.slice(1),
};
---

<Layout
  locale={locale}
  documentTitle={translate(UIKeys.statusEffect)}
  additionalKeywords={[translate(UIKeys.statusEffect)]}
  schemaOverride={toSchemaOrgProperty('Guide', schemaOverride)}
  translationLookup={translationLookup}
>
  <Breadcrumb
    locale={locale}
    translationLookup={translationLookup}
    breadcrumbs={[breadcrumb.element(locale)]}
  />

  <section id="search">
    <h2 class="hidden">Search</h2>
    <input
      type="search"
      name="search"
      placeholder="Search for..."
      oninput="onSearchChange(this.value)"
    />
  </section>

  <section id="status-effect-grid" class="item-grid-list mb-3">
    <div class="meta">
      <h1>{translate(UIKeys.statusEffect)}</h1>
    </div>

    {
      list.map((data, index) => (
        <a
          href={`/${locale}${routes.statusEffect}/${data.id}.html`}
          class="grid-list-item item no-hover-mobile animate__animated animate__fadeIn"
          title={data.name_localised}
          data-title={data.name_localised}
          data-description={data.description_localised}
          style={`animation-delay: ${Math.min(index * 30, 600)}ms;`}
          draggable="false"
        >
          <div class="grid-list-item-image">
            <img
              src={imgUrl(data.icon?.path)}
              loading="lazy"
              alt={`icon of ${data.name_localised}`}
              draggable="false"
            />
          </div>
          <section class="grid-list-item-container">
            <h2 class="Neu5Land heading">{data.name_localised}</h2>
            <small class="description">
              {data.description_localised ? data.description_localised : '...'}
            </small>
          </section>
        </a>
      ))
    }
  </section>
</Layout>
