{{#> layouts/default }}
<div class="home-grid-center">
	<section id="home-grid">
		<div class="meta">
			<h1>{{lookup @root.translate 'MAIN_CREDITS_TITLE'}}</h1>
			<p>{{lookup @root.translate 'TUTORIAL_REMASTER'}}</p>
			<p>{{lookup @root.translate 'TUTORIAL_RUMORS_DESCRIPTION1'}}</p>
		</div>
		{{#each data.cards}}
		<a href="{{#if this.wip}}#{{else}}/{{@root.langCode}}{{this.url}}{{/if}}"
			class="{{#if this.hideInMobile}}hidden-in-mobile{{/if}} animate__animated animate__fadeIn {{#if this.wip}}wip{{/if}}"
			style="animation-delay: {{multiply @index 100 600}}ms;">
			<article>
				<div class="img-container">
					{{#if this.gameUrl}}
					<img src="{{resimage this.gameUrl}}" alt="{{lookup @root.translate uiKey}}">
					{{else}}
					<img src="{{this.imageUrl}}" alt="{{lookup @root.translate uiKey}}">
					{{/if}}
				</div>
				<footer>
					<h6 class="ta-center">
						{{#if this.uiKey}}
						{{lookup @root.translate this.uiKey}}
						{{else}}
						{{this.title}}
						{{/if}}
					</h6>
				</footer>
				{{#if this.wip}}
				<span>Work<br>in progress</span>
				{{/if}}
			</article>
		</a>
		{{/each}}
	</section>
</div>
{{/layouts/default }}