<ul class="breadcrumb noselect">
    {{#each breadcrumbs}}
    {{#if @index}}<li>››</li>{{/if}}
    {{#if @first}}
    <li>
        <a href="{{this.link}}" title="{{this.name}}" rel="noopener noreferrer">
            <img src="/assets/img/home.png" alt="home">
        </a>
    </li>
    {{else}}
    <li>
        {{#if this.disabled}}
        <span>
            {{#if this.name}}
            {{this.name}}
            {{else}}
            {{lookup @root.translate this.uiKey}}
            {{/if}}
        </span>
        {{else if @last}}
        <span>
            {{#if this.name}}
            {{this.name}}
            {{else}}
            {{lookup @root.translate this.uiKey}}
            {{/if}}
        </span>
        {{else}}
        <a href="{{this.link}}" title="{{this.name}}" rel="noopener noreferrer">
            {{#if this.name}}
            {{this.name}}
            {{else}}
            {{lookup @root.translate this.uiKey}}
            {{/if}}
        </a>
        {{/if}}
    </li>
    {{/if}}
    {{/each}}
</ul>