{{#> layouts/default }}

{{> partials/breadcrumb }}

<section id="world-display" class="item-detail-card mb-3">
  <div class="meta">
    <h1>{{lookup @root.translate 'UI_PAUSE_MAP_BTN'}}</h1>
  </div>

  <div id="world-tab-container" class="tab0">
    <div class="item-detail-card-heading primary noselect animate__animated animate__fadeIn">
      {{#each data.list}}
      <div class="button-slanted cursor-pointer tab-button-{{@index}}"
        onclick="applyClassToId('world-tab-container', 'tab', 'tab{{@index}}')">
        <span class="button-slanted-content">{{this.title_localised}}</span>
      </div>
      {{/each}}
    </div>

    <div class="item-detail-card-body">
      <div class="map-body">
        {{#each data.list}}
        <div class="tab-content-{{@index}} ta-center">
          <div class="map-grid-container">
            <img src="{{resimage this.map_texture.path}}" class="map" alt="image of {{this.name_localised}}"
              loading="lazy" draggable="false">
            <div class="map-grid" style="--num-col:{{this.numOfColumns}}; --num-row:{{this.numOfRows}};">
              {{#each chunk_meta_data_localised}}
              {{#each this}}
              <div id="{{this.id}}" class="cell x-{{@index}} y-{{@../index}}">
                {{#if this}}
                <div class="popup">
                  <h5>{{this.title_localised}} <small>({{this.id}})</small></h5>
                  {{#each this.features_localised}}
                  <div class="details">
                    {{#if this.icon_url}}
                    <img src="{{resimage this.icon_url}}" class="status" alt="image of {{this.name_localised}}"
                      loading="lazy" draggable="false">
                    {{/if}}
                    <div class="text">
                      <p class="name">{{this.title_localised}}</p>
                    </div>
                  </div>
                  {{/each}}
                  {{#if this.monster_in_habitat}}
                  <div class="monster-spawns">
                    {{#each this.monster_in_habitat}}
                    <img src="{{resimage this.icon_url}}" alt="{{this.name_localised}}"
                      data-tooltip="{{this.name_localised}}" />
                    {{/each}}
                  </div>
                  {{/if}}
                </div>
                {{/if}}
              </div>
              {{/each}}
              {{/each}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

</section>
</main>
{{/layouts/default }}