---
import Layout from 'components/layouts/Layout.astro';

import type { IHomePageCard } from 'contracts/homePageCard';
import { translator } from 'helpers/translateHelper';
import { imgUrl } from 'helpers/urlHelper';

interface Props {
  locale: string;
  cards: Array<IHomePageCard>;
  translationLookup: Record<string, string>;
}

const { locale, cards, translationLookup } = Astro.props;
const { translate } = translator(translationLookup);
const title = 'Home';
---

<Layout locale={locale} documentTitle={title} translationLookup={translationLookup}>
  <div class="home-grid-center">
    <section id="home-grid">
      <div class="meta">
        <h1>{translate('MAIN_CREDITS_TITLE')}</h1>
        <p>{translate('TUTORIAL_REMASTER')}</p>
        <p>{translate('TUTORIAL_RUMORS_DESCRIPTION1')}</p>
      </div>

      {
        cards.map((card, index) => (
          <a
            href={card.wip ? '/index.html' : `/${locale}${card.url}`}
            class={
              (card.hideInMobile ? 'hidden-in-mobile ' : '') +
              (card.wip ? ' wip ' : '') +
              ' no-hover-mobile animate__animated animate__fadeIn'
            }
            style={`animation-delay: ${Math.min(index * 100, 600)}ms;`}
            draggable="false"
          >
            <article>
              <div class="img-container">
                {card.gameUrl != null ? (
                  <img
                    src={imgUrl(card.gameUrl)}
                    loading="lazy"
                    alt={card.uiKey != null ? translate(card.uiKey) : card.title}
                  />
                ) : (
                  <img
                    src={card.imageUrl}
                    loading="lazy"
                    alt={card.uiKey != null ? translate(card.uiKey) : card.title}
                  />
                )}
              </div>
              <footer>
                <h6 class="ta-center">{card.uiKey != null ? translate(card.uiKey) : card.title}</h6>
              </footer>
              {card.wip && (
                <span>
                  Work
                  <br />
                  in progress
                </span>
              )}
            </article>
          </a>
        ))
      }
    </section>
  </div>
</Layout>
<style lang="scss">
  $cardPadding: 0.5em;

  .home-grid-center {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #home-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    row-gap: 1em;
    margin-bottom: 0;

    a {
      text-decoration: none;
      border: 2px solid rgba(0, 0, 0, 0.25);
      border-radius: var(--card-border-radius);
      transition:
        transform 250ms ease-in-out,
        box-shadow 250ms ease-in-out;

      &:hover {
        z-index: 4;
        transform: translateY(-10px);
        box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.25);
      }

      article {
        display: flex;
        flex-direction: column;
        height: 100%;

        .img-container {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;

          img {
            max-width: 192px;
            margin: 0 auto;
            border-radius: var(--card-border-radius);
          }
        }

        h6 {
          font-weight: 400;
          margin: 0;
          color: unset;
        }
      }

      &.wip {
        cursor: not-allowed;

        span {
          position: absolute;
          color: black;
          background: var(--brand-tertiary);
          box-shadow: 0 0 0 999px var(--brand-tertiary);
          clip-path: inset(0 -100%);
          inset: 0 0 auto auto;
          transform-origin: 0 0;
          transform: translate(50%, -30%) rotate(45deg);
        }
      }
    }
  }
</style>
