---
import Breadcrumb from 'components/Breadcrumb.astro';
import LazyImage from 'components/common/LazyImage.astro';
import Layout from 'components/layouts/Layout.astro';

import languageJson from '../../../assets/json/language.json';
import './_list.scss';

import { astroPaths } from 'constants/astro';
import { breadcrumb } from 'constants/breadcrumb';
import { AppImage } from 'constants/image';
import { IntermediateFile } from 'constants/intermediateFile';
import { availableLanguages, UIKeys } from 'constants/localisation';
import { routes } from 'constants/route';
import { site } from 'constants/site';
import type { ICharacterEnhanced } from 'contracts/character';
import type { ILocalisation } from 'contracts/localisation';
import { AccessMode, type IGuideSchema } from 'contracts/schema/guideScheme';
import { isoDate } from 'helpers/dateHelper';
import { readDataFromAssets } from 'helpers/fileHelper';
import { toSchemaOrgProperty } from 'helpers/schemaHelper';
import { sortByStringProperty } from 'helpers/sortHelper';
import { limitLengthWithEllipse } from 'helpers/stringHelper';
import { translator } from 'helpers/translateHelper';

export async function getStaticPaths() {
  const paths: any = [];
  for (const locale of availableLanguages) {
    const itemMap = await readDataFromAssets<Record<string, ICharacterEnhanced>>({
      pathFolders: [...astroPaths.intermediatePath, locale],
      destFileName: IntermediateFile.characters,
    });
    const path = {
      params: { locale: locale },
      props: { list: Object.values(itemMap) },
    };
    paths.push(path as never);
  }
  return paths;
}

const { locale } = Astro.params;
const unorderedList = (Astro.props as any).list as Array<ICharacterEnhanced>;
const list = unorderedList.sort(sortByStringProperty((l) => l.name_localised));
const translationLookup = (languageJson as Record<string, ILocalisation>)[locale].messages;
const { translate } = translator(translationLookup);

const descriptionMessages = list
  .slice(0, 5)
  .map((g) => g.name_localised)
  .filter((m) => m != null)
  .join('. ');
const description = limitLengthWithEllipse(descriptionMessages, 120);
const schemaOverride: IGuideSchema = {
  name: translate('characters'),
  headline: translate('characters'),
  about: description,
  abstract: description,
  description: description,
  accessMode: AccessMode.textual,
  dateModified: isoDate(),
  thumbnailUrl: site.rootUrl + AppImage.meta.slice(1),
  // thumbnailUrl: site.rootUrl + data.meta_image_url.slice(1),
};
---

<Layout
  locale={locale}
  documentTitle={translate('characters')}
  additionalKeywords={[translate('characters')]}
  schemaOverride={toSchemaOrgProperty('Guide', schemaOverride)}
  translationLookup={translationLookup}
>
  <div class="page-options-with-breadcrumbs">
    <Breadcrumb
      locale={locale}
      translationLookup={translationLookup}
      breadcrumbs={[breadcrumb.character(locale)]}
    />

    <div class="page-options">
      <label>
        <input
          id="character-grid-checkbox"
          type="checkbox"
          role="switch"
          name="animated images"
          onchange="toggleClassToId('character-grid', 'useGif', this.checked); setSetting('useGif', this.checked)"
        />
        <span>Use gifs</span>
      </label>
    </div>
  </div>

  <section id="character-grid" class="item-grid-list">
    <div class="meta">
      <h1>{translate('characters')}</h1>
      <h2>Assistant for {translate(UIKeys.cassetteBeasts)}</h2>
    </div>

    {
      list.map((data, index) => (
        <a
          href={`/${locale}${routes.characters}/${data.resource_name}.html`}
          class="grid-list-item no-hover-mobile animate__animated animate__fadeIn"
          data-title={data.name_localised}
          style={`animation-delay: ${Math.min(index * 30, 600)}ms;`}
          draggable="false"
        >
          <div class="grid-list-item-image">
            <LazyImage
              src={data.icon_url}
              classes="sprite"
              alt={`${data.name_localised}`}
              loadingStrat="eager"
            />

            {data.animations.map((anim, index) => {
              if (index != 0) return '';
              return (
                <LazyImage
                  src={anim.imageUrl}
                  classes="sprite-anim"
                  alt={`gif #${anim.id} of ${data.name_localised}`}
                />
              );
            })}

            {data.portraits.map((portrait, index) => {
              if (index != 0) return '';
              return (
                <LazyImage
                  src={portrait}
                  classes="sticker animate__animated"
                  alt={`portrait of ${data.name_localised}`}
                />
              );
            })}
          </div>
          <section class="grid-list-item-container">
            <h2 class="Neu5Land heading">{data.name_localised}</h2>
          </section>
        </a>
      ))
    }
  </section>
</Layout>
