---
import DocumentHead from 'components/meta/DocumentHead.astro';
import WebVitals from 'components/meta/WebVitals.astro';
import Header from 'components/Header.astro';
import Footer from 'components/Footer.astro';

import versionJson from '../../assets/json/version.json';
import languageJson from '../../assets/json/language.json';

import '../../scss/main.scss';

import { site } from 'constants/site';
import { excludeLangCodes } from 'constants/localisation';

interface Props {
  locale: string;
  documentTitle: string;
  description?: string;
  metaImageUrl?: string;
  additionalKeywords?: Array<string>;
  schemaOverride?: Record<string, string | unknown>;
  translationLookup: Record<string, string>;
}

const { locale, documentTitle, description, translationLookup } = Astro.props;
const { metaImageUrl, additionalKeywords, schemaOverride } = Astro.props;

const allLangCodes = Object.keys(languageJson).filter((lang) => !excludeLangCodes.includes(lang));
---

<html lang="en" transition:animate="none">
  <DocumentHead
    locale={locale}
    allLangCodes={allLangCodes}
    documentTitle={documentTitle}
    description={description}
    additionalKeywords={additionalKeywords}
    metaImageUrl={metaImageUrl}
    schemaOverride={schemaOverride}
    version={versionJson.app_version}
  />

  <body class="overflow-x-hidden">
    <Header locale={locale} allLangCodes={allLangCodes} translationLookup={translationLookup} />

    <main class="container page-container" transition:animate="fade">
      <div class="full-page-app-notice" transition:persist>
        <assistant-apps-app-notice-list appguid={site.assistantApps.appGuid} langcode={locale}
        ></assistant-apps-app-notice-list>
      </div>

      <slot />
    </main>

    <Footer
      transition:persist
      translationLookup={translationLookup}
      version={versionJson.app_version}
    />

    <WebVitals transition:persist />
    <script is:inline src={`/assets/js/main.js?v=${versionJson.app_version}`}></script>
    <script is:inline defer src={`/analytics.js?v=${versionJson.app_version}`}></script>
    <script
      transition:persist
      is:inline
      defer
      src="https://webcomp.assistantapps.com/build/bundle.js"></script>

    <script is:inline>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/sw.js');
        });
      }
      document.addEventListener('astro:page-load', () => {
        window.onPageLoad();
      });
    </script>
  </body>
</html>
