---
import Layout from 'components/layouts/Layout.astro';
import Breadcrumb from '../../../components/Breadcrumb.astro';
import LazyImage from 'components/common/LazyImage.astro';

import languageJson from '../../../assets/json/language.json';
import './_list.scss';

import { astroPaths } from 'constants/astro';
import { breadcrumb } from 'constants/breadcrumb';
import { AppImage } from 'constants/image';
import { IntermediateFile } from 'constants/intermediateFile';
import { availableLanguages, UIKeys } from 'constants/localisation';
import { routes } from 'constants/route';
import { site } from 'constants/site';
import type { ILocalisation } from 'contracts/localisation';
import type { IMonsterFormEnhanced } from 'contracts/monsterForm';
import { AccessMode, type IGuideSchema } from 'contracts/schema/guideScheme';
import { isoDate } from 'helpers/dateHelper';
import { readDataFromAssets } from 'helpers/fileHelper';
import { toSchemaOrgProperty } from 'helpers/schemaHelper';
import { monsterSort } from 'helpers/sortHelper';
import { limitLengthWithEllipse } from 'helpers/stringHelper';
import { translator } from 'helpers/translateHelper';

export async function getStaticPaths() {
  const paths: any = [];
  for (const locale of availableLanguages) {
    const itemMap = await readDataFromAssets<Record<string, IMonsterFormEnhanced>>({
      pathFolders: [...astroPaths.intermediatePath, locale],
      destFileName: IntermediateFile.monsterForms,
    });
    const path = {
      params: { locale: locale },
      props: { list: Object.values(itemMap) },
    };
    paths.push(path as never);
  }
  return paths;
}

const { locale } = Astro.params;
const unorderedList = (Astro.props as any).list as Array<IMonsterFormEnhanced>;
const list = unorderedList.sort(monsterSort);
const translationLookup = (languageJson as Record<string, ILocalisation>)[locale].messages;
const { translate } = translator(translationLookup);

const descriptionMessages = list
  .slice(0, 5)
  .map((g) => g.description_localised)
  .filter((m) => m != null)
  .join('. ');
const description = limitLengthWithEllipse(descriptionMessages, 120);
const schemaOverride: IGuideSchema = {
  name: translate(UIKeys.viewMonsters),
  headline: translate(UIKeys.viewMonsters),
  about: description,
  abstract: description,
  description: description,
  accessMode: AccessMode.textual,
  dateModified: isoDate(),
  thumbnailUrl: site.rootUrl + AppImage.meta.slice(1),
  // thumbnailUrl: site.rootUrl + data.meta_image_url.slice(1),
};
---

<Layout
  locale={locale}
  documentTitle={translate(UIKeys.viewMonsters)}
  additionalKeywords={[translate(UIKeys.viewMonsters)]}
  schemaOverride={toSchemaOrgProperty('Guide', schemaOverride)}
  translationLookup={translationLookup}
>
  <div class="page-options-with-breadcrumbs">
    <Breadcrumb
      locale={locale}
      translationLookup={translationLookup}
      breadcrumbs={[breadcrumb.monster(locale)]}
    />

    <div class="page-options">
      <label>
        <input
          id="monster-grid-checkbox"
          type="checkbox"
          role="switch"
          name="animated images"
          onchange="toggleClassToId('monster-grid', 'useGif', this.checked); setSetting('useGif', this.checked)"
        />
        <span>{translate('useGifs')}</span>
      </label>
      <select
        name="Sort by"
        aria-label="Sort by"
        required
        onchange="orderItemsByDataAttr(this, 'monster-grid')"
      >
        <option value="id">{translate('bestiaryId')}</option>
        <option value="title">{translate('alphabetical')}</option>
      </select>
    </div>
  </div>

  <section id="search">
    <h2 class="hidden">Search</h2>
    <input
      type="search"
      name="search"
      placeholder="Search for..."
      oninput="onSearchChange(this.value)"
    />
  </section>

  <section id="monster-grid" class="item-grid-list mb-3">
    <div class="meta">
      <h1>{translate(UIKeys.viewMonsters)}</h1>
    </div>
    {
      list.map((data, index) => (
        <a
          href={`/${locale}${routes.monsters}/${data.resource_name}.html`}
          class={`grid-list-item item no-hover-mobile ${data.isSecret ? 'secret' : ''} animate__animated animate__fadeIn`}
          data-id={data.bestiary_index_with_padding}
          data-title={data.name_localised}
          data-description={data.description_localised}
          style={`animation-delay: ${Math.min(index * 30, 600)}ms;`}
          draggable="false"
        >
          <div class="grid-list-item-image">
            <LazyImage src={data.icon_url} classes="sprite" alt={`${data.name_localised}`} />

            {data.animations.map((anim, index) => {
              if (index != 0) return '';
              return (
                <LazyImage
                  src={anim.imageUrl}
                  classes="sprite-anim"
                  alt={`gif #${anim.id} of ${data.name_localised}`}
                />
              );
            })}

            <LazyImage
              src={data.tape_sticker_texture?.path}
              classes="sticker animate__animated"
              alt={`${data.name_localised}`}
            />

            {data.elemental_types_elements.map((elem) => (
              <LazyImage
                src={elem.icon?.path}
                classes="type animate__animated"
                alt={`element of ${elem.name_localised}`}
              />
            ))}
          </div>
          <section class="grid-list-item-container">
            <h2 class="Neu5Land heading">{data.name_localised}</h2>
            <small class="description">{data.description_localised}</small>
          </section>
          <div class="bestiary">
            <span>#</span>
            <span>{data.bestiary_index_with_padding}</span>
          </div>
        </a>
      ))
    }
  </section>
</Layout>
