<tr class="remaster no-padding">
    <td class="from-to">{{fromOrTo}}</td>
    <td class="sprite">
        <a href="/{{@root.langCode}}{{@root.routes.monsters}}/{{encodeuri this.resource_name}}.html"
            title="{{this.name_localised}}">
            <img src="{{resimage this.icon_url}}" class="remaster-image" alt="image of {{this.name_localised}}"
                draggable="false">
        </a>
    </td>
    <td class="name">
        <a href="/{{@root.langCode}}{{@root.routes.monsters}}/{{encodeuri this.resource_name}}.html"
            title="{{this.name_localised}}">
            {{this.name_localised}}
            (<small class="beast-id">#{{this.bestiary_index_with_padding}}</small>)
        </a>
    </td>
    <td class="type">
        <a href="/{{@root.langCode}}{{@root.routes.monsters}}/{{encodeuri this.resource_name}}.html"
            title="{{this.name_localised}}">
            {{#if this.elemental_types_elements.length}}

            {{#each this.elemental_types_elements}}
            <img src="{{resimage this.icon.path}}" class="move-image" alt="image of {{data.name_localised}}"
                draggable="false">
            {{/each}}

            {{else}}

            <img src="/assets/img/typeless.png" class="move-image" title="Typeless" alt="image of {{this.name}}"
                draggable="false">

            {{/if}}
        </a>
    </td>
    <td class="specialisation">
        {{#if this.specialization_localised.length}}
        <a href="/{{@root.langCode}}{{@root.routes.monsters}}/{{encodeuri this.resource_name}}.html"
            title="{{this.name_localised}}" class="ml-1">
            {{this.specialization_localised}}
        </a>
        {{else if this.required_move_move}}
        <a href="/{{@root.langCode}}{{@root.routes.monsters}}/{{encodeuri this.required_move_move.id}}"
            title="{{this.required_move_move.name_localised}}" class="ml-1">
            {{this.required_move_move.name_localised}}
        </a>
        {{/if}}
    </td>
</tr>