---
import { ViewTransitions } from 'astro:transitions';
import FaviconHead from './FaviconHead.astro';
import SchemaOrg from './SchemaOrg.astro';

import { site } from '../../constants/site';
import { defaultLocale } from '../../constants/localisation';
import type { IAlternateUrl } from '../../contracts/pageData';
import { longDate } from '../../helpers/dateHelper';

interface Props {
  locale: string;
  documentTitle?: string;
  description?: string;
  metaImageUrl?: string;
  allLangCodes: Array<string>;
  schemaExtra?: string;
  version: string;
}

const { documentTitle, allLangCodes, schemaExtra, version } = Astro.props;
const locale = Astro.props.locale ?? defaultLocale;
const description = Astro.props.description ?? site.meta.description;
const metaImageUrl = Astro.props.metaImageUrl ?? site.images.meta.url;

const relativePath = Astro.url.pathname.slice(1);

const alternateUrls: Array<IAlternateUrl> = [];
for (const lang of allLangCodes) {
  const langSpecificRelPath = relativePath.replace(locale, lang);
  const indexOfDivider = lang.indexOf('_');
  const alternateUrlLang = indexOfDivider > 0 ? lang.substring(0, indexOfDivider) : lang;
  if (alternateUrls.filter((au) => au.lang == alternateUrlLang).length > 0) continue;

  alternateUrls.push({
    href: `${site.rootUrl}${langSpecificRelPath}`,
    lang: alternateUrlLang,
  });
}
alternateUrls.push({
  href: `${site.rootUrl}${relativePath.replace(locale, defaultLocale)}`,
  lang: 'x-default',
});
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="application-name" content={site.meta.appName} />
  <title>{documentTitle != null ? `${documentTitle} - ` : ''}{site.meta.title}</title>
  <link rel="index" href={site.rootUrl} />
  <link rel="canonical" href={site.rootUrl} />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="author" href="/humans.txt" />
  <link rel="me" href={site.humans.kurt.email} />
  <link rel="me" href={site.humans.kurt.website} type="text/html" />
  <meta name="designer" content={site.humans.kurt.name} />
  <meta name="owner" content={site.humans.kurt.name} />

  {
    alternateUrls.map((altUrl) => (
      <link rel="alternate" href={altUrl.href} hreflang={altUrl.lang} />
    ))
  }

  <meta name="url" content={site.rootUrl} />
  <meta name="identifier-URL" content={site.rootUrl} />
  <meta name="theme-color" content={site.theme.colour} />
  <meta name="subject" content={description} />
  <meta name="description" content={description} />
  <meta name="abstract" content={description} />
  <meta name="copyright" content={site.meta.copyright} />
  <meta name="keywords" content={site.meta.keywords} />
  <meta name="language" content={locale} />
  <meta name="referrer" content="no-referrer" />
  <meta name="topic" content="Gaming" />
  <meta name="robots" content="index,follow" />
  <meta name="rating" content="General" />
  <meta name="coverage" content="Worldwide" />
  <meta name="distribution" content="Global" />
  <meta name="generator" content="Astro & SolidJS" />
  <link
    rel="search"
    href="opensearch.xml"
    type="application/opensearchdescription+xml"
    title="Search Title"
  />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <meta name="revised" content={longDate()} />

  <FaviconHead />

  <!-- Google -->
  <meta name="googlebot" content="index,follow" />
  <meta name="google" content="nositelinkssearchbox" />
  <!-- <meta name="google-site-verification" content={site.google.verificationKey}> -->

  <!-- Apple -->
  <link rel="mask-icon" href={site.images.maskIcon} color={site.theme.maskColour} />
  <meta name="apple-mobile-web-app-title" content={site.meta.appName} />
  <meta name="apple-mobile-web-app-status-bar-style" content={site.theme.appleStatusBar} />

  <!-- Twitter -->
  <meta name="twitter:card" content={site.twitter.metaImageSize} />
  <meta name="twitter:site" content={site.twitter.handle} />
  <meta name="twitter:creator" content={site.humans.kurt.twitter} />
  <meta name="twitter:url" content={site.rootUrl} />
  <meta name="twitter:title" content={site.meta.appName} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={metaImageUrl} />
  <meta name="twitter:image:alt" content={site.twitter.imageAlt} />

  <!-- Facebook -->
  <meta property="og:url" content={site.rootUrl} />
  <meta property="og:type" content="website" />
  <meta property="og:title" content={site.meta.title} />
  <meta property="og:image" content={site.twitter.imageAlt} />
  <meta property="og:image:alt" content={metaImageUrl} />
  <meta property="og:description" content={description} />
  <meta property="og:site_name" content={site.meta.title} />
  <meta property="og:locale" content="en_UK" />
  <meta property="article:author" content={site.humans.kurt.name} />

  <!-- Microsoft -->
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="skype_toolbar" content="skype_toolbar_parser_compatible" />
  <meta name="msapplication-config" content="browserconfig.xml" />
  <meta name="msapplication-TileColor" content={site.theme.maskColour} />
  <meta name="msapplication-starturl" content="/?pwa-app" />

  <script is:inline>
    window.config = {
      assistantAppsImgRoot: 'https://webcomp.assistantapps.com',
    };
  </script>

  <!-- <link rel="stylesheet" href="/assets/css/main.css?v={{version}" /> -->
  <ViewTransitions />

  <SchemaOrg
    documentTitle={documentTitle}
    description={description}
    schemaExtra={schemaExtra}
    version={version}
  />
</head>
