{{#> layouts/default }}

{{> partials/breadcrumb }}

<section id="search">
  <h2 class="hidden">Search</h2>
  <input type="search" name="search" placeholder="Search for..." oninput="onSearchChange(this.value)">
</section>

<section id="status-effect-grid" class="item-grid-list mb-3">
  {{#each data.list}}
  <a href="/{{@root.langCode}}{{@root.routes.statusEffect}}/{{this.id}}.html"
    class="grid-list-item item animate__animated animate__fadeIn" data-title="{{this.name_localised}}"
    data-description="{{this.description_localised}}" style="animation-delay: {{multiply @index 30 600}}ms;">
    <div class="grid-list-item-image">
      <img src="{{resimage this.icon.path}}" alt="icon of {{this.name_localised}}" draggable="false">
    </div>
    <section class="grid-list-item-container">
      <h2 class="Neu5Land heading">{{this.name_localised}}</h2>
      <small class="description">
        {{#if this.description_localised}}
        {{this.description_localised}}
        {{else}}
        ...
        {{/if}}
      </small>
    </section>
  </a>
  {{/each}}
</section>
</main>
{{/layouts/default }}