{{#> layouts/default }}

{{> partials/breadcrumb }}

<div class="grid status-effect-detail-grid mb-3">
  <article class="item-detail-card">
    <div class="item-detail-card-heading primary">
      <img src="{{resimage data.icon.path}}" class="icon" alt="icon of {{data.name_localised}}" draggable="false">
      <h2 class="Neu5Land animate__animated animate__fadeIn">{{data.name_localised}}</h2>
    </div>
    <div class="item-detail-card-body">
      <div class="sub-heading">
        {{#if data.description_localised}}
        <p>{{data.description_localised}}</p>
        {{else}}
        <p>...</p>
        {{/if}}
        <div class="spacer"></div>
        <div class="ap-block">
          {{#repeat data.cost}}
          <img src="/assets/img/meta/ap.png" class="ap" title="Action Point" alt="image of an action point"
            draggable="false">
          {{/repeat}}
        </div>
      </div>

      <section class="additional-section negative-margin additional animate__animated animate__fadeIn">
        <h3 class="section-heading Neu5Land">{{lookup @root.translate 'additionalStats' }}</h3>
        <div class="table-container">
          <table class="additional highlight-cell animate__animated animate__fadeIn">
            <thead>
              <tr>
                <td class="ta-center">
                  <code>is_removable</code>
                </td>
                <td class="ta-center">
                  <code>is_buff</code>
                </td>
                <td class="ta-center">
                  <code>is_debuff</code>
                </td>
                <td class="ta-center">
                  <code>is_decoy</code>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ta-center">{{#if data.is_removable}}✔️{{else}}❌{{/if}}</td>
                <td class="ta-center">{{#if data.is_buff}}✔️{{else}}❌{{/if}}</td>
                <td class="ta-center">{{#if data.is_debuff}}✔️{{else}}❌{{/if}}</td>
                <td class="ta-center">{{#if data.is_decoy}}✔️{{else}}❌{{/if}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      {{#if data.stats_affected}}
      <section class="status-section additional animate__animated animate__fadeIn">
        <h3 class="section-heading custom-padding Neu5Land">{{ lookup @root.translate 'UI_BESTIARY_INFO_TAB_STATS' }}
        </h3>
        <div class="statuses">
          {{#each data.stats_affected}}
          <code>{{this}}</code>
          {{/each}}
        </div>
      </section>
      {{/if}}

    </div>
  </article>

  <article class="item-detail-card">
  </article>
</div>
{{/layouts/default }}