{{#> layouts/default }}

{{> partials/breadcrumb }}

<div class="grid masonry min-card-width mb-3">
  <article class="monster-detail-card item-detail-card">
    <div class="monster-detail-card-heading item-detail-card-heading primary">
      <h2 class="Neu5Land animate__animated animate__fadeIn">{{data.name_localised}}</h2>
      {{#if data.battle_cry_audio_url}}
      <div class="audio noselect animate__animated animate__fadeIn">
        <h4 class="cursor-pointer" onclick="playAudioNode('{{data.name_localised}}-cry')">🔉</h4>
        <audio id="{{data.name_localised}}-cry" class="hidden">
          <source src="{{data.battle_cry_audio_url}}" type="audio/wav">
        </audio>
      </div>
      {{/if}}
      <div class="spacer"></div>
      {{#each data.elemental_types_elements}}
      <img src="{{resimage this.icon.path}}" class="element-image" alt="image of {{this.name}}" draggable="false">
      {{/each}}
    </div>
    <div class="monster-detail-card-body item-detail-card-body">
      <div id="sprite-tab-container" class="monster-detail-card-main">
        <div class="grid images noselect animate__animated animate__fadeIn">
          <div class="sprites">
            <img src="{{resimage data.icon_url}}" class="char-image tab-content-0"
              alt="image of {{data.name_localised}}" draggable="false">

            {{#each data.animations}}
            <img src="{{resimage this.imageUrl}}" class="char-image  tab-content-{{inc @index}}"
              alt="gif #{{this.id}} of {{data.name_localised}}" draggable="false">
            {{/each}}

          </div>

          <div class="stats">
            {{#with data}}
            {{> partials/common/statHex }}
            {{/with}}
          </div>

        </div>
        <div class="controls noselect animate__animated animate__fadeIn">
          <div class="button-slanted cursor-pointer tab-button-0"
            onclick="applyClassToId('sprite-tab-container', 'tab', 'tab0')">
            <span class="button-slanted-content">{{lookup @root.translate 'static'}}</span>
          </div>
          {{#each data.animations}}
          <div class="button-slanted cursor-pointer tab-button-{{inc @index}}"
            onclick="applyClassToId('sprite-tab-container', 'tab', 'tab{{inc @index}}')">
            <span class="button-slanted-content">{{translatewithformat @root.translate 'gifNum' (inc @index)}}</span>
          </div>
          {{/each}}
        </div>
        {{#if data.description_localised}}
        <span class="descrip">"{{data.description_localised}}"</span>
        {{/if}}
      </div>
      <span class="id"><span class="noselect">#</span>{{data.bestiary_index_with_padding}}</span>

      {{#if data.unlock_ability}}
      <div class="ability animate__animated animate__fadeIn">
        <img src="/assets/img/ability/{{data.unlock_ability}}.png" class="ability-image"
          alt="image of {{data.unlock_ability}}" draggable="false">
        <div>
          <span>{{data.unlock_ability_localised}}</span>
        </div>
      </div>
      {{/if}}

      <div class="bio animate__animated animate__fadeIn">
        {{#if data.unlock_ability.length}}
        <p>{{unlock_ability}}</p>
        {{/if}}
        {{#each data.bestiary_bios_localised}}
        <p>{{this}}</p>
        {{/each}}
      </div>

      <section class="additional-section additional animate__animated animate__fadeIn">
        <h3 class="section-heading Neu5Land">{{lookup @root.translate 'additionalStats'}}</h3>
        <div class="table-container">
          <table class="additional highlight-cell animate__animated animate__fadeIn">
            <thead>
              <tr>
                <td class="ta-center">{{ lookup @root.translate 'STAT_evasion' }}</td>
                <td class="ta-center">{{ lookup @root.translate 'STAT_max_ap' }}</td>
                <td class="ta-center">{{ lookup @root.translate 'STAT_move_slots' }}</td>
                <td class="ta-center">{{ lookup @root.translate 'STATUS_RECORDING_NAME' }}</td>
                <td class="ta-center">{{ lookup @root.translate 'STAT_exp' }}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ta-center">{{data.evasion}}</td>
                <td class="ta-center">{{data.max_ap}}</td>
                <td class="ta-center">{{data.move_slots}}</td>
                <td class="ta-center">{{data.capture_rate}}%</td>
                <td class="ta-center">{{data.exp_base_level}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      {{#if data.require_dlc}}
      <section class="dlc-section animate__animated animate__fadeIn">
        <h3 class="section-heading Neu5Land">DLC</h3>
        <div class="dlc">
          <img src="/assets/img/dlc/{{data.require_dlc}}.png" class="ability-image" alt="image of {{data.require_dlc}}"
            draggable="false">
          <div>
            <span>{{lookup @root.translate 'DLC_01_PIER_NAME'}}</span>
          </div>
        </div>
      </section>
      {{/if}}

      {{#if data.total_evolutions}}
      <section class="remaster-section animate__animated animate__fadeIn">
        <h3 class="section-heading Neu5Land">{{lookup @root.translate 'UI_EVOLUTION_TITLE'}}</h3>
        <table class="remasters first-td-padding highlight-row animate__animated animate__fadeIn">
          <colgroup>
            <col span="1" class="from-to">
            <col span="1" class="sprite">
            <col span="1" class="name">
            <col span="1" class="type">
            <col span="1" class="specialisation">
          </colgroup>
          <thead>
            <tr>
              <td class="from-to"></td>
              <td class="sprite"></td>
              <td class="name">{{ lookup @root.translate 'UI_INVENTORY_FILTER_NAME' }}</td>
              <td class="type"></td>
              <td class="specialisation">{{ lookup @root.translate 'UI_EVOLUTION_SPECIALIZATION' }}</td>
            </tr>
          </thead>
          <tbody data-translate="TODO">
            {{#with data.evolution_from_monster}}
            {{> partials/monster/monsterRemaster fromOrTo="From" }}
            {{/with}}
            {{#each data.evolutions_monster}}
            {{> partials/monster/monsterRemaster }}
            {{/each}}
          </tbody>
        </table>
      </section>
      {{/if}}

      <section class="additional-section animate__animated animate__fadeIn">
        <h3 class="section-heading tags">
          <span class="Neu5Land" data-translate="TODO">Tags:</span>&nbsp;
          {{#each data.move_tags}}<small>{{this}}<span
              class="{{#if @last}}hidden{{/if}}">,&nbsp;</span></small>{{/each}}
        </h3>
      </section>

      <section class="wiki-section animate__animated animate__fadeIn">
        <a href="https://wiki.cassettebeasts.com/wiki/{{data.name_localised}}" rel="noopener noreferrer" target="_blank"
          title="view {{data.name_localised}} on the wiki" role="button" class="btn-border-hover outline secondary">
          <img src="/assets/img/wiki.png" alt="wiki logo">
          <div class="text">
            <h6>{{translatewithformat @root.translate 'viewOn' 'wiki.cassettebeasts.com'}}</h6>
          </div>
        </a>
      </section>
    </div>

    <div class="monster-detail-sticker-container animate__animated">
      <div class="animate__animated bounce-on-hover">
        <img src="{{resimage data.tape_sticker_texture.path}}"
          class="monster-detail-sticker animate__animated animate__delay-1s animate__rollIn animate__tada"
          alt="sticker of {{this.name}}">
      </div>
    </div>
  </article>

  <article class="monster-detail-card item-detail-card">
    <div class="monster-detail-card-heading item-detail-card-heading">
      <h2 class="Neu5Land animate__animated animate__fadeIn">{{ lookup @root.translate 'UI_PARTY_STICKERS' }}</h2>
      <div class="spacer"></div>
    </div>

    <div class="monster-detail-tape-container animate__animated hidden-in-mobile noselect">
      <div class="animate__animated swing-hover Neu5Land">
        <img src="/assets/img/meta/tape.png" alt="monster tape">
        <p>{{data.name_localised}}</p>
      </div>
    </div>

    <div class="monster-detail-card-body item-detail-card-body table-container">
      <div class="table-container">
        <table class="moves last-td-padding highlight-row animate__animated animate__fadeIn">
          <thead>
            <tr class="no-padding">
              <td class="star"></td>
              <td class="type"></td>
              <td class="name">{{ lookup @root.translate 'UI_INVENTORY_FILTER_NAME' }}</td>
              <td class="category">{{ lookup @root.translate 'UI_INVENTORY_FILTER_CATEGORY' }}</td>
              <td class="power">{{ lookup @root.translate 'MOVE_DESCRIPTION_POWER' }}</td>
              <td class="accuracy">{{ lookup @root.translate 'STAT_accuracy' }}</td>
              <td class="ap">{{ lookup @root.translate 'BATTLE_TOAST_AP' }}</td>
            </tr>
          </thead>
          <tbody>
            {{#each data.initial_moves_moves}}
            {{> partials/monster/monsterMoveRow source=(lookup @root.translate 'initial') }}
            {{/each}}

            {{#each data.tape_upgrades_moves}}
            {{> partials/monster/monsterMoveRow source=(star @index) }}
            {{/each}}
          </tbody>
        </table>
      </div>

      {{#if data.has_locations}}
      <section class="additional-section habitat animate__animated animate__fadeIn">
        <details open>
          <summary>
            <h3 class="section-heading Neu5Land noselect" data-translate="TODO">Habitat</h3>
          </summary>
          <div class="table-container">
            <table class="moves last-td-padding highlight-row">
              <thead>
                <tr>
                  <td class="sprite" data-translate="TODO">Overworld</td>
                  <td class="name">{{ lookup @root.translate 'UI_INVENTORY_FILTER_NAME' }}</td>
                  <td class="percent" data-translate="TODO">percent</td>
                </tr>
              </thead>
              <tbody>
                {{#each data.spawn_overworld_locations}}
                <tr>
                  <td class="overworld ta-center">
                    <img src="{{resimage this.overworldSprite}}" class="remaster-image" alt="overworld image"
                      draggable="false">
                  </td>
                  <td class="name">
                    {{this.habitat_name_localised}} <code>({{this.id}})</code>
                  </td>
                  <td class="percent">{{this.percentStr}}%</td>
                </tr>
                {{/each}}

                {{#if data.spawn_backup_locations}}
                {{#if data.spawn_overworld_locations}}
                <tr>
                  <td colspan="3" class="ta-center" data-translate="TODO">Backup</td>
                </tr>
                {{/if}}
                {{#each data.spawn_backup_locations}}
                <tr>
                  <td class="overworld"></td>
                  <td class="name">
                    {{this.habitat_name_localised}} <code>({{this.id}})</code>
                  </td>
                  <td class="percent">{{this.percentStr}}%</td>
                </tr>
                {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>
        </details>
      </section>
      {{/if}}
    </div>
  </article>
</div>
{{/layouts/default }}